<section id="description" class="white-section">
      <div class="padded container large-font">
          <p class="left-align">
          <p class="large-font bold-font black-font-color"><strong>An Overview of Food Chain</strong></p>
          <p class="large-font bold-font black-font-color">Table of Contents</p>
              <ul>
                  <li><a class="content_link" href="#foodChain">What is a food chain</a></li>
                  <li><a class="content_link" href="#foodWeb">Food web</a></li>
                  <li><a class="content_link" href="#typesFoodChain">Types of food chain</a></li>
                  <li><a class="content_link" href="#conclusion">Conclusion</a></li>
                  <li><a class="content_link" href="#questions">Frequently Asked Questions</a></li>
              </ul>
              <h2>Food Chain: Introduction</h2>
              <p>
A food chain explains which organism eats another organism in the environment. The food chain is a linear sequence of organisms where nutrients and energy is transferred from one organism to the other. This occurs when one organism consumes another organism. It begins with producer organism, follows the chain and ends with decomposer organism. After understanding the food chain, we realise how one organism is dependent upon another species for survival.

Now, let’s look at the other aspects of a food chain, to get a better understanding.
              </p>

              <h2 id="foodChain">What is a food chain?</h2>
              <p>
A food chain refers to the order of events in an ecosystem, where one living organism eats another organism, and later that organism is consumed by another larger organism. The flow of nutrients and energy from one organism to another at different trophic levels forms a food chain.

The food chain also explains the feeding pattern or relationship between living organisms. Trophic level refers to the sequential stages in a food chain, starting with producers at the bottom, followed by primary, secondary and tertiary consumers. Every level in a food chain is known as a trophic level.

The food chain consists of four major parts, namely:
              </p>
              <ul>
                  <li><strong>The Sun:</strong> The sun is the initial source of energy, which provides energy for everything on the planet.</li>
                  <li><strong>Producers:</strong> The producers in a food chain include all autotrophs such as phytoplankton, cyanobacteria, algae, green plants. This is the first stage in a food chain. The producers make up the first level of a food chain. The producers utilise the energy from the sun to make food. Producers are also known as autotrophs as they make their own food. Producers are any plant or other organisms that produce their own nutrients through photosynthesis. For example, green plants, phytoplankton and algae are some examples of producers in a food chain.</li>
                  <li><strong>Consumers:</strong> Consumers are all organisms that are dependent on plants or other organisms for food. This is the largest part of a food web, as it contains almost all living organisms. It includes herbivores which are animals that eat plants, carnivores which are animals that eat other animals, parasites are those organisms that live on other organisms by harming them and lastly the scavengers, which are animals that eat dead animals’ carcasses.
                      <p>Here, herbivores are known as primary consumers and carnivores are secondary consumers. The second trophic level includes organisms that eat producers. Therefore, primary consumers or herbivores are organisms in the second trophic level.</p></li>

                  <li><strong>Decomposers:</strong> Decomposers are organisms that get energy from dead or waste organic material. This is the last stage in a food chain. Decomposers are an integral part of a food chain, as they convert organic waste materials into inorganic materials like nutrient-rich soil or land.
                      <p>Decomposers complete a life cycle. They help in recycling the nutrients as they provide nutrients to soil or oceans, that can be utilised by autotrophs or producers. Thus, starting a whole new food chain.</p></li>
                </ul>

              <h2 id="foodWeb">Food Web:</h2>
              <p>
Several interconnected food chains form a food web. A food web is similar to a food chain but the food web is comparatively larger than a food chain. Occasionally, a single organism is consumed by many predators or it consumes several other organisms. Due to this, many trophic levels get interconnected. The food chain fails to showcase the flow of energy in the right way. But, the food web is able to show the proper representation of energy flow, as it displays the interactions between different organisms.

When there are more cross interactions between different food chains, the food web gets more complex. This complexity in a food web leads to a more sustainable ecosystem.
              </p>

              <h2 id="typesFoodChain">Types of Food Chain</h2>
              <p>
There are two types of food chains, namely detritus food chain and grazing food chain. Let’s look at them more closely:
              </p>
              <ul>
                  <li><strong>Detritus food chain:</strong> The detritus food chain includes different species of organisms and plants like algae, bacteria, fungi, protozoa, mites, insects, worms and so on. The detritus food chain begins with dead organic material. The food energy passes into decomposers and detritivores, which are further eaten by smaller organisms like carnivores. Carnivores, like maggots, become a meal for bigger carnivores like frogs, snakes and so on. Primary consumers like fungi, bacteria, protozoans, and so on are detritivores which feed on detritus.</li>
                  <li><strong>Grazing food chain:</strong> The grazing food chain is a type of food chain that starts with green plants, passes through herbivores and then to carnivores. In a grazing food chain, energy in the lowest trophic level is acquired from photosynthesis.</li>
              </ul>
              <p>
In this type of food chain, the first energy transfer is from plants to herbivores. This type of food chain depends on the flow of energy from autotrophs to herbivores. As autotrophs are the base for all ecosystems on Earth, the majority of ecosystems in the environment follow this kind of food chain.
              </p>
<h2 id="conclusion">Conclusion</h2>
              <p>
Understanding food chains is vital, as they explain the intimate relationships in an ecosystem. A food chain shows us how every living organism is dependent on other organisms for survival. The food chain explains the path of energy flow inside an ecosystem.
              </p>

              <h2 id="questions">Frequently Asked Questions on Food Chain</h2>
              <h3>What are the first organisms in a food chain?</h3>
              <p>
Producers, also known as autotrophs, comprise the first level in a food chain.
              </p>
              <h3>What is the difference between the food chain and food web?</h3>
              <p>
A food chain follows a single path, where animals discover food. But a food web shows different paths, where plants and animals are connected. A food web comprises several food chains.

In a food chain, an organism eats a single item, whereas in a food web an organism consumes multiple items. In a food chain, there is a singular path for energy flow and in a food web, there are different paths for energy flow.
              </p>

              <h3>What role do humans play in a food chain?</h3>
              <p>
The role of humans in the food chain varies, depending on what the human consumes as food. If the human consumes only plants, they are known as primary consumers. If the human eats an organism that consumes plants, the human is known as a secondary consumer, and so on. So they are referred to as omnivores.
              </p>
              <h3>What are animals called in a food chain?</h3>
              <p>
Animals are known as consumers in a food chain because they eat other plants and animals.
              </p>
              <h3>What do food chains end with?</h3>
              <p>
A food chain begins with producers who make food, continues with consumers who eat the food and ends with the topmost predator.
              </p>
          </p>
      </div>
</section>
